SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

MONGO_HOST=mongodb
MONGO_PORT=27017
MONGO_DB=pluto
MONGO_USERNAME=
MONGO_PASSWORD=

MQTT_HOST=mosquitto
MQTT_PORT=1883
MQTT_USERNAME=pluto
MQTT_PASSWORD=change-me